body {
    margin: 0
}

.container {
    max-width: 490px;
    position: relative;
}

.app-font {
    height: 100vh;
    width: 100%;
    background-color: #312E2E;
}

.app {
    position: absolute;
    height: 35px;
    width: 140px;
    background-color: #2B2929;
    border-radius: 60px;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Inter";
    font-size: 20px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.menu {
    position: absolute;
    height: 8vh;
    width: 100%;

    top: 100%;
    transform: translateY(-100%);
    background-color: #312F2F;   
}

.main-container {
    position: absolute;
    height: 60vh;
    width: 100%;

    top: 32%;

    background-color: #2F2C2C;
}



@font-face {
    font-family: "Inter";
    src: url("font-famili/Inter-Black.otf"); /* Используем правильный путь */
}